{% extends "base.html" %}

{% block content %}

<h1>Add or Update a Service</h1>
<form action="{% url 'dashboard:services' %}" method="POST">
    {% csrf_token %}

    <label for="Service">Service: </label>
    <select name="name" id="">
        {% if edit_service %} 
            <option value="{{ edit_service.service.name }}">{{ edit_service.service.name }}</option>
        {% else %}
            <option value="none">--- Select ---</option>
        {% endif %}
        {% for service in other_services %}
            <option value="{{ service.name }}">{{ service.name }}</option>
        {% endfor %}
    </select>
    <br>
    <br>

    <label for="">Description:</label>
    <input type="text" name="description" {% if edit_service.description %} value="{{ edit_service.description }}" {% endif %}>
    <br>
    <br>
    
    <label for="">Price:</label>
    <input type="number" step="0.01" name="price" {% if edit_service %} value="{{ edit_service.price }}" {% endif %} required>
    <br>
    <br>

    <input type="submit" value="Submit" />
</form>

<h1>My Services</h1>
<ul>
{% for instance in my_services %}
    <li>{{ instance.service.name }}: {{ instance.description }} <strong>{{ instance.price }}</strong> 
        <a href="{% url 'dashboard:services' %}?s={{ instance.service.name }}">Edit</a> 
        <a href="{% url 'dashboard:services-delete' %}?s={{ instance.service.name }}">Delete</a>
    </li>
{% endfor %}
</ul>

{% endblock %}