{% extends "base.html" %}

{% block content %}

<div class="ui grid container center aligned" style="margin-top: 100px">
    <div class="sixteen wide column">   
        <div class="row">
            <div class="ui secondary menu" style="border-bottom: 2px solid rgba(34, 36, 38, 0.15);" >
                <a class="active item" href={% url 'dashboard:home' %}>Home</a>
                <a class="item" href={% url 'dashboard:institution-list' %}>View institutions</a>
                <a class="item" href={% url 'users:update' %}>Edit My Profile</a>

                <div class="right secondary menu">
                    <a class="ui item" href={% url 'logout' %}> <i class="sign out icon"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui grid container center aligned">
    <div class="two column row">
        <div class="column">
            <div class="ui stacked segment">
                <h1>Add or Update a Product</h1>
                <form class="ui form" action="{% url 'dashboard:products' %}" method="POST">
                    {% csrf_token %}

                    <div class="field">
                        <label for="">Product: </label>
                        <select name="product_id" id="">
                            {% if edit_product %}
                                <option value="{{ edit_product.product.product_id }}">
                                    {{ edit_product.product.generic_name }} - {{ edit_product.product.brand_name }}
                                </option>
                            {% else %}
                                <option value="none">--- Select ---</option>
                            {% endif%}
                    
                            {% for product in other_products %}
                                <option value="{{ product.product_id }}">{{ product.generic_name}} - {{ product.brand_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field"> 
                        <label for="">Price:</label>
                        <input type="number" step="0.01" name="price" {% if edit_product %} value="{{ edit_product.price }}" {% endif %} required>
                    </div>

                    <div class="field">
                        <label for="">Stock:</label>
                        <input type="number" step="1" name="stock" {% if edit_product %} value="{{ edit_product.stock }}" {% endif %} required>
                    </div>

                    <div class="field">
                        <label for="">Description:</label>
                        <input type="text" name="description" {% if edit_product %} value="{{ edit_product.description }}" {% endif %} >
                    </div>

                    <input type="submit" value="Submit" class="ui blue button" />
                </form>
            </div>
        </div>

        <div class="column">
            <div class="ui segment">
                <h1>My Products</h1>
                <ul>
                    {% for instance in my_products %}
                    <li>{{ instance.product.generic_name }} -  {{ instance.product.brand_name }} by
                        <strong>{{ instance.product.manufacturer }}</strong>:
                        {{ instance.price }} {{ instance.stock}} {{ instance.description}}
                        <a href="{% url 'dashboard:products' %}?p={{ instance.product.product_id }}">Edit</a> 
                        <a href="{% url 'dashboard:products-delete' %}?p={{ instance.product.product_id }}">Delete</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
