{% extends "base.html" %}

{% block content %}

<div class="ui grid container center aligned" style="margin-top: 20px">
    <div class="eleven wide column">
        <div class="ui secondary menu" style="border-top: 2px solid rgba(34, 36, 38, 0.15); padding:3px;">
            <a class="item" href={% url 'dashboard:home' %}>Home</a>
            <a class="item" href={% url 'dashboard:institution-list' %}>View institutions</a>
            <a class="item" href={% url 'users:update' %}>Edit My Profile</a>

            <div class="right secondary menu">
                <a class="ui item" href={% url 'logout' %}> <i class="sign out icon"></i> Logout</a>
            </div>

        </div>
    </div>
    <div class="fourteen wide column" style="padding-top:0px;">
        <div class="ui segment">
            <div class="ui two column aligned relaxed grid" style="margin-top:3px;">
                {% block messages %}{% endblock messages %}
                <div class="row">
                    <div class="column">
                        <h1 class="ui header">My Services</h1>
                        {% if my_services %}
                        <div class="ui segment">
                            <div class="ui divided list modlist" style="text-align:left;">
                                {% for instance in my_services %}
                                <div class="item">
                                    <div class="right floated content">
                                        <div class="tiny ui buttons">
                                          <a href="{% url 'dashboard:services' %}?s={{ instance.service.name }}" class="tiny ui secondary button" style="padding:10px 13px;"><i class="write icon"></i> Edit</a>
                                          <a href="{% url 'dashboard:services-delete' %}?s={{ instance.service.name }}" class="tiny ui icon button" style><i class="trash icon"></i></a>
                                      </div>
                                  </div>
                                  <div class="content">
                                    <h4 class="header">{{ instance.service.name }}</h4>
                                    <div>Price:&nbsp; {{ instance.price }} PHP</div>
                                    <div class="description" style="margin-top:3px;">{{ instance.description }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% else %}
                    <div>No services yet. Add one using the form in the right.</div>
                    {% endif %}
                </div>

                <div class="ui vertical divider" style="left:50%;"> </div>
                <div class="column" style="padding:0 30px;">
                    <h1 class="ui header">Add or Update a Service</h1>
                    <form class="ui form" action="{% url 'dashboard:services' %}" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label for="Service" align="left">Service: </label>
                            <select name="name" id="">
                                {% if edit_service %} 
                                <option value="{{ edit_service.service.name }}">{{ edit_service.service.name }}</option>
                                {% else %}
                                <option value="">Select a service...</option>
                                {% endif %}
                                {% for service in other_services %}
                                <option value="{{ service.name }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                         <div class="field">
                            <label for="price" align="left">Price:</label>
                            <input type="number" step="0.01" name="price" {% if edit_service %} value="{{ edit_service.price }}" {% endif %} required>
                        </div>
                        <div class="field">
                            <label for="description" align="left">Description:</label>
                            <textarea name="description"> {% if edit_service.description %} {{ edit_service.description }} {% endif %}</textarea>
                        </div>
                        <input type="submit" value="Submit" class="ui blue button"/>
                    </form>

                </div>

            </div>

            <div class="column" style="padding:0 30px;">


            </div>
        </div>
    </div>
</div>
</div></div>

{% endblock %}