<div class="ui container centered grid">
	<div class="eleven wide column segment" >
		<div class="row">
			{% extends "base.html" %}

			{% block content %}
			<h1 class="ui header" align="left">Dashboard
				<div class="sub header" align="left" style="margin-bottom:5px;"><small>Welcome,&nbsp;
					<strong>{{ current_user.username }} </strong></small>
				</div></h1>
			</div>
			<div class="row">
				<div class="ui secondary menu" style="border-top: 2px solid rgba(34, 36, 38, 0.15); padding:3px;">
					<a class="active item" href={% url 'dashboard:home' %}>Home</a>
					<a class="item" href={% url 'dashboard:institution-list' %}>View institutions</a>
					<a class="item" href={% url 'users:update' %}>Edit My Profile</a>

					<div class="right secondary menu">
						<a class="ui item" href={% url 'logout' %}> <i class="sign out icon"></i> Logout</a>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="row" style="height:100%; margin-top:30px;">
					<div class="ui horizontal stacked segments grid" style="border-width: 0px;">
						<div class="eleven wide column" style="padding:0px;">
							<div class="ui segment" style="border-right-width:0px; border-bottom-width:0px; box-shadow:none; border-top-right-radius:0px;">
								<div style="padding:3px;">
									<div class="ui sidemenu active tab" data-tab="{% if current_user.is_admin == 0 %}scheduled-{% endif %}appointments">
										<h2>Scheduled Appointments</h2>
										{% if appointments %}
										<ul>
											{% for aptmt in appointments %}
											<li> 
												{% if current_user.is_admin %} 
													<span style="padding-right:15px;">{{ aptmt.date }} ({{ aptmt.timeslot }}): {{ aptmt.service }} for <a href="{% url 'users:detail' slug=aptmt.user.slug %}">{{ aptmt.user.username }}</a></span>
												{% else %}
													<span style="padding-right:15px;">{{ aptmt.date }} ({{ aptmt.timeslot }}): {{ aptmt.service }} at <a href="{% url 'users:detail' slug=aptmt.admin.user.slug %}">{{ aptmt.admin.user.username }}</a></span>
												{% endif %}
												<a href="{% url 'appointments:status' appointment_id=aptmt.appointment_id %}?s=Cancelled"><button class="tiny ui orange button">Cancel</button></a>
											</li>
											<br>
											{% endfor %}
										</ul>
										{% else %}
										<p>No scheduled appointments.</p>
										{% endif %}
										{% if current_user.is_admin == 0 %}</div><div class="ui sidemenu tab" data-tab="pending-appointments"> {% endif %}

										<h2>Pending Appointments</h2>
										{% if pending_appointments %}
										<ul>
											{% for aptmt in pending_appointments %}
											<li>
												{% if current_user.is_admin %} 
													<span>{{ aptmt.date }} ( {{ aptmt.timeslot }}): {{ aptmt.service }} for <a href="{% url 'users:detail' slug=aptmt.user.slug %}">{{ aptmt.user.username }}</a></span>
													<br>
													<a href="{% url 'appointments:status' appointment_id=aptmt.appointment_id %}?s=Accepted"><button class="tiny ui green button">Accept</button></a> 
													<a href="{% url 'appointments:status' appointment_id=aptmt.appointment_id %}?s=Rejected"><button class="tiny ui red button">Reject</button></a> 
												{% else %}
													<span style="padding-right:15px;">{{ aptmt.date }} ({{ aptmt.timeslot }}): {{ aptmt.service }} at <a href="{% url 'users:detail' slug=aptmt.admin.user.slug %}">{{ aptmt.admin.user.username }}</a></span>
													<a href="{% url 'appointments:status' appointment_id=aptmt.appointment_id %}?s=Cancelled"><button class="tiny ui orange button">Cancel</button></a>
												{% endif %}
											</li>
											<br>
											{% endfor %}
										</ul>

										{% else %}
										<p>No pending appointments.</p>
										{% endif %}
									</div>

									<div class="ui sidemenu tab" data-tab="services" style="position:relative;">
										<h1 class="ui header">Services Offered</h1>
										<a href="{% url 'dashboard:services' %}" class="small ui right primary button" style="position: absolute;top: 0;right:0;"><i class="edit icon"></i> Manage</a>
										<div class="row">
											<p></p>
											{% if my_services %}
											<div class="ui bulleted list">
												{% for instance in my_services %}
												<div class="item">
												{{ instance.service.name }} ({{ instance.price }} PHP)
													</div>
												{% endfor %}
											</div>
											{% else %}
											<p>No services yet.</p>

											{% endif %}
										</div>
									</div>

									<div class="ui sidemenu tab" data-tab="products" style="position:relative;">
										<h1 class="ui header">Products Offered</h1>
										<a href="{% url 'dashboard:products' %}" class="small ui right primary button" style="position: absolute;top: 0;right:0;"><i class="edit icon"></i> Manage</a>
										<div class="row">
											<p></p>
											{% if my_products %}
											<div class="ui bulleted list">
												{% for instance in my_products %}
												<div class="item">
													<div><h4 class="ui inline header">{{ instance.product.brand_name }}</h4>by {{ instance.product.manufacturer }}</div>
													<div>{{ instance.product.generic_name }}</div>
													<div>{{ instance.price }} PHP  /  {{ instance.stock }} in stock</div>
													<div>{{ instance.description }}</div>
												</div>
												{% endfor %}
											</div>
											{% else %}
											<p>No products yet.</p>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- MENU -->
						<div class="fluid five wide column" style="padding:0px; display:flex;">
							<div class="fluid" style="display:flex; width: 100%;">
								<div class="ui fluid vertical right tabular menu" style="margin-bottom:3px;">
									<a class="sidemenu item active" data-tab="{% if current_user.is_admin == 0 %}scheduled-{% endif %}appointments">{% if current_user.is_admin == 0 %}Scheduled {% endif %}Appointments</a>
									{% if current_user.is_admin == 0 %}
									<a class="sidemenu item" data-tab="pending-appointments">Pending Appointments</a> 

									{% elif current_user.is_admin %}
									<a class="sidemenu item" data-tab="services">Services</a>
									<a class="sidemenu item" data-tab="products">Products</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$('.sidemenu .item').on('click', function() {
		$('.sidemenu .item').removeClass('active');
		$(this).addClass('active');
	});             

	$('.menu .item').tab();
	$('.ui.dropdown').dropdown();
	</script>

	{% endblock %}

