{% extends "base.html" %}

{% block content %}

<a href={% url 'users:update' %}>Edit My Profile</a>
<a href={% url 'logout' %}>Logout</a>

<h1>Dashboard</h1>
<p><strong>Welcome {{ current_user.email }}. 
    You are {% if current_user.is_admin %} an admin {% elif not current_user.is_admin %}a regular user {% endif %}
</strong></p>

<h1>Scheduled Appointments</h1>
<ul>
    {% for aptmt in appointments %}
        <li> {{ aptmt }} </li>
    {% endfor %}
</ul>
<h1>Pending Appointments</h1>
<ul>
    {% for aptmt in pending_appointments %}
        <li>
            {{ aptmt }} {% if current_user.is_admin %} <a href="">Accept</a> <a href="">Delete</a> {% endif %}
        </li>
    {% endfor %}
</ul>

{% if user.is_admin %}
    <h1>Services Offered</h1>
    <a href="{% url 'dashboard:services' %}">Manage Services</a>
    <ul>
    {% for instance in my_services %}
        <li>{{ instance.service.name }}: {{ instance.price }} </li>
    {% endfor %}
    </ul>

    <h1>Products Offered</h1>
    <a href="{% url 'dashboard:products' %}">Manage Products</a>
    <ul>
        {% for instance in my_products %}
            <li>{{ instance.product.generic_name }} / {{ instance.product.brand_name }} by {{ instance.product.manufacturer }}: 
                {{ instance.price }} {{ instance.stock }} {{ instance.description }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}