{% extends "base.html" %}

{% block content %}

<div class="ui grid container center aligned" style="margin-top: 20px">
    <div class="three column row">
        <div class="column"></div>
        <div class="eleven wide column"> 			
			{% block search_bar %}
				{% include "dashboard/search_bar.html" %}
			{% endblock  %}
			<br>
			<br>

			<h1>Institutions</h1>

			<table class="ui selectable celled table">
				{% for inst in institutions %}
				<tr>
					<td>    
				    	<a href="{{ inst.get_profile }}">{{ inst.username }}</a>
				    </td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="column"></div>
	</div>
</div>

{% endblock %}