<div class="ui grid container center aligned" style="margin-top: 20px">
    <div class="three column row">
        <div class="column"></div>
        <div class="eleven wide column"> 			
			{% extends "base.html" %}

			{% block content %}

			<div class="ui icon input">
			  	<input type="text" placeholder="Search...">
			  	<i class="circular search link icon"></i>
			</div>
			<br>
			<br>

			<h1>Institutions</h1>

			<table class="ui selectable celled table">
				{% for inst in institutions %}
				<tr>
					<td>    
				    	<a href="{{ inst.get_profile }}">{{ inst.username }}</a>
				    </td>
				</tr>
				{% endfor %}
			</table>

			{% endblock %}
		</div>
		<div class="column"></div>
	</div>
</div>