
<div class="ui grid container center aligned" style="margin-top: 20px">
	<div class="column"></div>
	<div class="eleven wide column"> 			

		{% extends "base.html" %}

		{% block content %}

		<div class="row">
			<div class="ui secondary menu" style="border-bottom: 2px solid rgba(34, 36, 38, 0.15);"	>
				<a class="item" href={% url 'dashboard:home' %}>Home</a>
				<a class="active item" href={% url 'dashboard:institution-list' %}>View institutions</a>
				<a class="item" href={% url 'users:update' %}>Edit My Profile</a>

				<div class="right secondary menu">
					<a class="ui item" href={% url 'logout' %}> <i class="sign out icon"></i> Logout</a>
				</div>
			</div>
		</div>

		<br><br>
		<div class="row">
			{% block search_bar %}
				{% include "dashboard/search_bar.html" %}
			{% endblock  %}
		</div>

		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Institution</th>
					<th>Category</th>
					<th>Location</th>
					<th>Services</th>
					<th>Products</th>
				</tr>
			</thead>
			<tbody>
				{% for inst in institutions%}
					<tr>
						<td><a href="{{ inst.get_profile }}">{{ inst.username | title }}</a></td>
						<td>{{ inst.administratordetails.category }}</td>
						<td>{{ inst.administratordetails.location }}</td>
						<td>
							{% for service in inst.administratordetails.services.all %}
								<li> {{ service }}</li>
							{% endfor %}
						</td>
						<td>
							{% for product in inst.administratordetails.products.all %}
								<li>{{ product }}</li>
							{% endfor %}
						</td>
					</tr>
				</a>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>
<br>
<br>
<br>

{% endblock %}