{% block search_bar %}
<div class="twelve wide column">
    <div class="ui basic segment" style="padding:14px 0;">
    <form class="ui compact form" action="{% url 'dashboard:institution-list' %}" method="GET">
        <div class="fields">
            <div class="four wide field">
                <label for="">Category: </label>
                <select class="ui compact dropdown" name="c" id="">
                    {% if category != '' %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endif %}
                    <option value=" "></option>
                    <option value="Treatment Center">Treatment Center</option>
                    <option value="Testing Hub">Testing Hub</option>
                    <option value="Social Hygiene Clinic">Social Hygiene Clinic</option>
                </select>
            </div>

            <div class="three wide field">
                <label for="">Location:</label>
                <select class="ui compact dropdown" name="l" id="">
                    {% if location != '' %}
                        <option value="{{ location }}">{{ location }}</option>
                    {% endif %}
                    <option value=" "></option>
                    <option value"Caloocan">Caloocan</option>
                    <option value"Las Pinas">Las Pinas</option>
                    <option value"Makati">Makati</option>
                    <option value"Malabon">Malabon</option>
                    <option value"Mandaluyong">Mandaluyong</option>
                    <option value"Manila">Manila</option>
                    <option value"Markina">Markina</option>
                    <option value"Muntinlupa">Muntinlupa</option>
                    <option value"Navotas">Navotas</option>
                    <option value"Paranaque">Paranaque</option>
                    <option value"Pasay">Pasay</option>
                    <option value"Pasig">Pasig</option>
                    <option value"Pateros City">Pateros</option>
                    <option value"Quezon">Quezon City</option>
                    <option value"San Juan">San Juan</option>
                    <option value"Taguig">Taguig</option>
                    <option value"Valenzuela">Valenzuela</option>
                </select>
            </div>

            <div class="four wide field">
                <label for="">Service:</label>
                <select class="ui compact dropdown" name="s" id="">
                    {% if service != '' %}
                        <option value="{{ service }}">{{ service }}</option>
                    {% endif %}
                    <option value=" "></option>
                    {% for service in services %}
                    <option value="{{ service.name }}" type="checkbox">{{ service.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="eight wide field">
                <label for="">Product:</label>
                <select class="ui compact dropdown" name="p" id="">
                    {% if product != '' %}
                        <option value="{{ product }}">{{ product }}</option>
                    {% endif %}
                    
                    <option value=" "></option>
                    {% for product in products %}
                        <option value="{{ product.generic_name}} - {{ product.brand_name }}" type="checkbox">{{ product.generic_name}} - {{ product.brand_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" value="Search" class="ui positive button">
        
    </form>
</div>
</div>
{% endblock %}