{% block search_bar %}

<form action="{% url 'dashboard:institution-list' %}" method="GET">
    <label for="">Category: </label>
    <select name="c" id="">
        <option value="">--- Select ---</option>
        <option value="Treatment Center">Treatment Center</option>
        <option value="Testing Hub">Testing Hub</option>
        <option value="Social Hygiene Clinic">Social Hygiene Clinic</option>
    </select>

    <label for="">Location</label>
    <select name="l" id="">
        <option value="">--- Select ---</option>
        <option value="Quezon City">Quezon City</option>
        <option value="Mandaluyong">Mandaluyong</option>
        <option value="Makati">Makati</option>
    </select>

    <label for="">Service</label>
    <select name="s" id="">
        <option value="">--- Select ---</option>
        {% for service in services %}
            <option value="{{ service.name }}" type="checkbox">{{ service.name}}</option>
        {% endfor %}
    </select>

    <label for="">Product</label>
    <select name="p" id="">
        <option value="">--- Select ---</option>
        {% for product in products %}
            <option value="{{ product.generic_name }}" type="checkbox">{{ product.generic_name}} - {{ product.brand_name }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Search">
</form>

{% endblock %}