{% extends "registration.html" %}

{% block user_fields %}

<input type="hidden" name="user_type" value="administrator" />

<label for="institution_name">Institution Name: </label>
<input type="text" name="institution_name" required />
<br>
<br>    

<label for="email">Email: </label>
<input type="text" name="email" required />
<br>
<br>

<label for="mobile_number">Mobile Number: </label>
<input type="text" name="mobile_number" />
<br>
<br>

<label for="landline_number">Landline Number: </label>
<input type="text" name="mobile_number" />
<br>
<br>

<label for="open_time">Opening Time: </label>
<input type="text" name="open_time" />
<br>
<br>

<label for="close_time">Closing Time: </label>
<input type="text" name="close_time" />
<br>
<br>

<label for="location">Location: </label>
<input type="text" name="location" />
<br>
<br>

<label for="category">Category: </label>
<input type="text" name="category" />
<br>
<br>

<label for="staff">Staff: </label>
<textarea name="staff" ></textarea>
<br>
<br>

<label for="additional_info">Additional Information: </label>
<textarea name="additional_info" ></textarea>
<br>
<br>


{% endblock %}