{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Med Center Manager</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>    
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    <link rel="stylesheet" type="text/css" href="{% static '/bower_components/semantic-ui-calendar/dist/calendar.min.css' %}"/>

    <script type="text/javascript" src="{% static '/bower_components/semantic-ui-calendar/dist/calendar.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.13/semantic.min.js"></script>
</head>

<body style="background-color: #FBFCFC">
    <h1 id="medcentermanager" class="ui header" align="center">Med Center Manager</h1>

{% if messages %}
        {% if messages|length == 1 %}
            {% for message in messages %}
                <div class="ui message {% if message.tags %} {{ message.tags }}"{% endif %} align="left"> {{ message }} </div>
            {% endfor %}
        {% else %}
    <div class="ui message">
        <ul class="list messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li> 
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endif %}

    
    {% block content %}
    {% endblock content %} 

    {% block javascript %} 
    {% endblock %}
</body>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</html>