{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Med Center Manager</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>    
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    <link rel="stylesheet" type="text/css" href="{% static '/bower_components/semantic-ui-calendar/dist/calendar.min.css' %}"/>

    <script type="text/javascript" src="{% static '/bower_components/semantic-ui-calendar/dist/calendar.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
</head>
<body>
    {% if messages %}
        {% if message.tags == "success" %}
            <div class="ui success message">
                <div class="header">Success</div>
        {% elif message.tags == "error" %}
            <div class="ui error message">
                <div class="header">Error</div>
        {% else %}
            <div class="ui info message">
        {% endif %}
    {% for message in messages %}
        <ul class="list"><li>{{ message }}</li></ul>
    {% endfor %}
    </div>

    <!-- <ul class="messages">
        {% for message in messages %}
            {% if message.tags == "success" %}
                <li style="color:green"> {{ message }}</li>
            
                <li style="color:red"> {{ message }}</li>
            {% else %}
                <li style="color:blue"> {{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul> -->
    {% endif %}
    
    {% block content %}
    {% endblock content %} 

    {% block javascript %} 
    {% endblock %}
</body>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</html>