{% extends "base.html" %}

{% block content %}
<div>
    <h1>{{ object.username }}</h1>
    <h1>{{ object.email }}</h1>
    <p>{{ object.mobile_number }}</p>
    <p>{{ object.landline_number }}</p>

    {% if object.is_admin %}
        <p>{{ object.administratordetails.open_time }}</p>
        <p>{{ object.administratordetails.close_time }}</p>
        <p>{{ object.administratordetails.location }}</p>
        <p>{{ object.administratordetails.category }}</p>
        <p>{{ object.administratordetails.staff }}</p>
        <p>{{ object.administratordetails.additional_info }}</p>

        <h1>Services</h1>
        <ul></ul>
        {% for service in object.administratordetails.services.all %}
            <li> {{ service.name }}: {{ service.description }}</li>
        {% endfor %}
    {% endif%}
</div>

{% endblock %}