{% extends "base.html" %}

{% block content %}
<div>
    <h1>Edit Profile</h1>
    <form action={% url 'users:update' %} method="PUT">
        {% csrf_token %}


        <label for="username">Username: </label>
        <input type="text" name="username" value={{ object.username }} />
        <br>
        <br>   

        <label for="email">Email: </label>
        <input type="text" name="email" value={{ object.email }} />
        <br>
        <br>
        
        <label for="mobile_number">Mobile Number: </label>
        <input type="text" name="mobile_number" value={{ object.mobile_number }} />
        <br>
        <br>
        
        <label for="landline_number">Landline Number: </label>
        <input type="text" name="landline_number" value={{ object.landline_number }} />
        <br>
        <br>
        
        <input type="submit" value="Edit" />
    </form>
</div>

{% endblock %}