{% extends "base.html" %}

{% block content %}
<div>
    <h1>{{ object.username }}</h1>
    <h1>{{ object.email }}</h1>
    <p>{{ object.mobile_number }}</p>
    <p>{{ object.landline_number }}</p>

    {% if object.is_admin %}
        <p>{{ object.administratordetails.open_time }}</p>
        <p>{{ object.administratordetails.close_time }}</p>
        <p>{{ object.administratordetails.location }}</p>
        <p>{{ object.administratordetails.category }}</p>
        <p>{{ object.administratordetails.staff }}</p>
        <p>{{ object.administratordetails.additional_info }}</p>

        <h1>Services</h1>
        <ul></ul>
        
        {% for service in object.administratordetails.services.all %}
            <li> {{ service.name }} </li>
        {% endfor %}

        <!-- If logged in user is not an admin and they are seeing an institution page,
            they can put comments --> 

        <h1>Comments</h1>
        {% if not current_user.is_admin %}
            <p><strong>Add Comment</strong></p>
            <form action="{% url 'users:feedback' slug=object.slug %}" method="POST">
                {% csrf_token %}

                <label for="">Rating:</label>
                <select name="rating" id="" required>
                    <option value="none">--- Select ---</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br>
                <br>

                <label for="">Comment:</label>
                <br>
                <br>
                <textarea name="comment" id="" cols="30" rows="10"></textarea>
                <br>
                <br>

                <input type="submit" value="Submit" />
            </form>

            <br>
            {% for f in feedback %}
                <p><strong>by {{ f.user.username}}</strong>: {{ f.rating }} stars </p>
                <p>{{ f.comment }}</p>
                <br>
            {% endfor %}
        {% endif %}
    {% endif%}
</div>

{% endblock %}