{% extends "auth/registration.html" %}

{% block user_fields %}

<div class="two fields">
	<div class="field">
		<label for="open_time">Opening Time: </label>
		<input type="text" name="open_time" placeholder="Opening Time"/>
	</div>

	<div class="field">
		<label for="close_time">Closing Time: </label>
		<input type="text" name="close_time" placeholder="Closing Time" />
	</div>
</div>

<div class="required field">
	<label for="location">Location: </label>
	<input type="text" name="location" placeholder="Street, Barangay, City/Province" />
</div>

<div class="required field">
	<label for="category">Category: </label>
	<select name="category" required>
		<option value="none">--- Select ---</option>
		<option value="Social Hygiene Clinic">Social Hygiene Clinic</option>
		<option value="Testing Hub">Testing Hub</option>
		<option value="Treatment Center">Treatment Center</option>
	</select>
</div>

<div class="field">
	<label for="staff">Contact person: </label>
	<input type="text" name="staff" placeholder="Contact person or HACT Chairperson" />
</div>

<div class="field">
	<label for="additional_info">Additional Information: </label>
	<textarea name="additional_info"></textarea>
</div>


{% endblock %}