{% extends "auth/registration.html" %}

{% block user_fields %}
<div class="two fields">
	<div class="field">
		<label for="open_time">Opening Time: </label>
		<div class="ui selection dropdown">
			<input type="hidden" name="open_time">
			<i class="dropdown icon"></i> <div class="default text">Opening Time</div>
			<div class="menu">
				<div class="item" data-value="00:00">00:00 / 12:00 AM</div>
				<div class="item" data-value="01:00">01:00 / 01:00 AM</div>
				<div class="item" data-value="02:00">02:00 / 02:00 AM</div>
				<div class="item" data-value="03:00">03:00 / 03:00 AM</div>
				<div class="item" data-value="04:00">04:00 / 04:00 AM</div>
				<div class="item" data-value="05:00">05:00 / 05:00 AM</div>
				<div class="item" data-value="06:00">06:00 / 06:00 AM</div>
				<div class="item" data-value="07:00">07:00 / 07:00 AM</div>
				<div class="item" data-value="08:00">08:00 / 08:00 AM</div>
				<div class="item" data-value="09:00">09:00 / 09:00 AM</div>
				<div class="item" data-value="10:00">10:00 / 10:00 AM</div>
				<div class="item" data-value="11:00">11:00 / 11:00 AM</div>
				<div class="item" data-value="12:00">12:00 / 12:00 PM</div>
				<div class="item" data-value="13:00">13:00 / 01:00 PM</div>
				<div class="item" data-value="14:00">14:00 / 02:00 PM</div>
				<div class="item" data-value="15:00">15:00 / 03:00 PM</div>
				<div class="item" data-value="16:00">16:00 / 04:00 PM</div>
				<div class="item" data-value="17:00">17:00 / 05:00 PM</div>
				<div class="item" data-value="18:00">18:00 / 06:00 PM</div>
				<div class="item" data-value="19:00">19:00 / 07:00 PM</div>
				<div class="item" data-value="20:00">20:00 / 08:00 PM</div>
				<div class="item" data-value="21:00">21:00 / 09:00 PM</div>
				<div class="item" data-value="22:00">22:00 / 10:00 PM</div>
				<div class="item" data-value="23:00">23:00 / 11:00 PM</div>
			</div>
		</div>
	</div>

	<div class="field">
		<label for="close_time">Closing Time: </label>
		<div class="ui selection dropdown">
			<input type="hidden" name="close_time">
			<i class="dropdown icon"></i> <div class="default text">Closing Time</div>
			<div class="menu">
				<div class="item" data-value="00:00">00:00 / 12:00 AM</div>
				<div class="item" data-value="01:00">01:00 / 01:00 AM</div>
				<div class="item" data-value="02:00">02:00 / 02:00 AM</div>
				<div class="item" data-value="03:00">03:00 / 03:00 AM</div>
				<div class="item" data-value="04:00">04:00 / 04:00 AM</div>
				<div class="item" data-value="05:00">05:00 / 05:00 AM</div>
				<div class="item" data-value="06:00">06:00 / 06:00 AM</div>
				<div class="item" data-value="07:00">07:00 / 07:00 AM</div>
				<div class="item" data-value="08:00">08:00 / 08:00 AM</div>
				<div class="item" data-value="09:00">09:00 / 09:00 AM</div>
				<div class="item" data-value="10:00">10:00 / 10:00 AM</div>
				<div class="item" data-value="11:00">11:00 / 11:00 AM</div>
				<div class="item" data-value="12:00">12:00 / 12:00 PM</div>
				<div class="item" data-value="13:00">13:00 / 01:00 PM</div>
				<div class="item" data-value="14:00">14:00 / 02:00 PM</div>
				<div class="item" data-value="15:00">15:00 / 03:00 PM</div>
				<div class="item" data-value="16:00">16:00 / 04:00 PM</div>
				<div class="item" data-value="17:00">17:00 / 05:00 PM</div>
				<div class="item" data-value="18:00">18:00 / 06:00 PM</div>
				<div class="item" data-value="19:00">19:00 / 07:00 PM</div>
				<div class="item" data-value="20:00">20:00 / 08:00 PM</div>
				<div class="item" data-value="21:00">21:00 / 09:00 PM</div>
				<div class="item" data-value="22:00">22:00 / 10:00 PM</div>
				<div class="item" data-value="23:59">23:59 / 11:59 PM</div>
			</div>
		</div>
	</div>
</div>

<div class="required field">
	<label for="address">Address: </label>
	<input type="text" name="address" placeholder="ex: 11 Washington St." />
</div>

<div class="required field">
	<label for="location">Location: </label>
	<div class="ui selection dropdown">
			<input type="hidden" name="location">
			<i class="dropdown icon"></i> <div class="text"></div>
			<div class="menu">
				<div class="item" data-value="Caloocan">Caloocan</div>
				<div class="item" data-value="Las Pinas">Las Pinas</div>
				<div class="item" data-value="Makati">Makati</div>
				<div class="item" data-value="Malabon">Malabon</div>
				<div class="item" data-value="Mandaluyong">Mandaluyong</div>
				<div class="item" data-value="Manila">Manila</div>
				<div class="item" data-value="Markina">Markina</div>
				<div class="item" data-value="Muntinlupa">Muntinlupa</div>
				<div class="item" data-value="Navotas">Navotas</div>
				<div class="item" data-value="Paranaque">Paranaque</div>
				<div class="item" data-value="Pasay">Pasay</div>
				<div class="item" data-value="Pasig">Pasig</div>
				<div class="item" data-value="Pateros City">Pateros</div>
				<div class="item" data-value="Quezon City">Quezon City</div>
				<div class="item" data-value="San Juan">San Juan</div>
				<div class="item" data-value="Taguig">Taguig</div>
				<div class="item" data-value="Valenzuela">Valenzuela</div>
			</div>
		</div>
</div>
<div class="two fields">
	<div class="required field">
		<label for="category">Category: </label>
		<div class="ui selection dropdown">
				<input type="hidden" name="category">
				<i class="dropdown icon"></i> <div class="default text">Select a category...</div>
				<div class="menu">
					<div class="item" data-value="Social Hygiene Clinic">Social Hygiene Clinic</div>
					<div class="item" data-value="Testing Hub">Testing Hub</div>
					<div class="item" data-value="Treatment Center">Treatment Center</div>
				</div>
		</div>
	</div>

	<div class="field">
		<label for="staff">Contact person: </label>
		<input type="text" name="staff" placeholder="Contact person" />
	</div>
</div>

<div class="field">
	<label for="additional_info">Additional Information: </label>
	<textarea name="additional_info"></textarea>
</div>


<script type="text/javascript">
	$('.ui.dropdown').dropdown();
</script>

{% endblock %}