{% extends "auth/registration.html" %}

{% block user_fields %}

<label for="open_time">Opening Time: </label>
<input type="text" name="open_time" />
<br>
<br>

<label for="close_time">Closing Time: </label>
<input type="text" name="close_time" />
<br>
<br>

<label for="location">Location: </label>
<input type="text" name="location" />
<br>
<br>

<label for="category">Category: </label>
<input type="text" name="category" required />
<br>
<br>

<label for="staff">Staff: </label>
<textarea name="staff" ></textarea>
<br>
<br>

<label for="additional_info">Additional Information: </label>
<textarea name="additional_info" ></textarea>
<br>
<br>


{% endblock %}