<div class="ui grid container centered aligned">
    <div class="three column row">
        <div class="eight wide computer column eleven wide tablet eleven wide mobile">        
            {% extends "base.html" %}

            {% block content %}

            <div class="ui stacked segment">
                <h3 align="center">Register {% if user_type == 'administrator' %} Your Institution {% elif user_type == 'regular' %} for an account{% endif %}</h3>
                <div class="ui divider"></div>
                <form class="ui form" action={% url 'registration' user_type=user_type%} method="POST">
                    {% csrf_token %}
                    <div class="ui equal width form">
                        <div class="ui error message"></div>
                        <div class="fields">
                            <div class="required field">
                                {% if user_type == 'regular' %}
                                    <label for="username">Username: </label>
                                {% elif user_type == 'administrator' %}
                                    <label for="username">Institution Name: </label>
                                {% endif %}
                                <input type="text" name="username" placeholder="Username" required/>
                            </div>  

                            <div class="required field">
                                <label for="password">Password: </label>
                                <input type="password" name="password" placeholder="Password" required/>
                            </div>
                        </div>
                    </div>

                    <div class="required field">
                        <label for="email">Email: </label>
                        <input type="text" name="email" placeholder="Email" required/>
                    </div>
                    
                    <div class="two fields">
                        <div class="required field">
                            <label for="mobile_number">Mobile Number: </label>
                            <input type="text" name="mobile_number" placeholder="Mobile Number"/>
                        </div>
                        
                        <div class="field">
                            <label for="landline_number">Landline Number: </label>
                            <input type="text" name="landline_number" placeholder="Landline Number" />
                        </div>
                    </div>
                    

                    {% block user_fields %}
                    {% endblock user_fields %} 
                    <br />
                    <input type="submit" value="Register" class="ui fluid large blue button"/><br>
                    <div style="text-align:center;">Already have an account? <a href="{% url 'login' %}"> Login </a>.</div>
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="column"></div>
    </div>
</div>

